@font-face {
    font-family: 'Sverdlovsk';
    src: url('/fonts/sverdlovsk.woff2') format('otf'),
         url('/fonts/sverdlovsk.woff') format('otf'),
         url('darul-huffaz.vercel.app/fonts/sverdlovsk.woff') format('otf');
    font-weight: normal;
    font-style: normal;
}